<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<servlet>
		<servlet-name>dailyCache</servlet-name>
		<servlet-class>com.google.code.commuterweather.nws.cache.DailyCache</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>hourlyCache</servlet-name>
		<servlet-class>com.google.code.commuterweather.nws.cache.HourlyCache</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
        <servlet-name>dailyCache</servlet-name>
        <url-pattern>/dailyCache</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>hourlyCache</servlet-name>
        <url-pattern>/hourlyCache</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>dailyCron</servlet-name>
		<servlet-class>com.google.code.commuterweather.nws.cache.DailyCron</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>hourlyCron</servlet-name>
		<servlet-class>com.google.code.commuterweather.nws.cache.HourlyCron</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
        <servlet-name>dailyCron</servlet-name>
        <url-pattern>/dailyCron</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>hourlyCron</servlet-name>
        <url-pattern>/hourlyCron</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>dailyProxy</servlet-name>
		<servlet-class>com.google.code.commuterweather.nws.proxy.DailyProxy</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>hourlyProxy</servlet-name>
		<servlet-class>com.google.code.commuterweather.nws.proxy.HourlyProxy</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
        <servlet-name>dailyProxy</servlet-name>
        <url-pattern>/dailyProxy</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
        <servlet-name>hourlyProxy</servlet-name>
        <url-pattern>/hourlyProxy</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
